 
    <!-- Footer Section Start -->
    <footer class="site-footer">
        <div class="copyright-footer">
            <div class="container-mid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-footer-content text-center">
                            <p>Copyright ©2021 <a href="#">Best Way To Sell A Used Car</a>. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- Footer Section End -->
