 <!-- Hero Section -->
 <section class="hero-section" style="background-image: url('../../../assets/best-waytosellacsedcar.png')">
    <div class="container-mid h-100">
        <div class="row h-100">
            <div class="col-md-5 d-flex align-items-center">
                <div class="hero-section-content">
                    <h1>Redefining the art of selling your used car</h1>
                    <p>Introducing the simplest, safest and the fastest medium to sell or trade-in your used car hoarding up your garage space.</p>

                    <div class="hero-section-btn">
                        <a routerLink="mainpage/main" class="themeBtn">
                            Sell Your Car
                        </a>

                        <a href="tell-us-more.html" class="themeBtn-inverse">
                            Tell Us More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ends Hero Section -->

<router-outlet> </router-outlet>